/***************
  Variables
****************/
/***************
  Pseudo Classes
****************/
[id*="big"] .open[id*="window"]:not(#big-canvas-window) {
  padding: 1vh 3vw;
  margin: 1vh 0 2vh;
  width: 66vw;
  height: 10vh;
  overflow-y: scroll;
  border-top: 5px solid;
  border-bottom: 5px solid; }

[id*="big"] [id*="window"]:not(#big-canvas-window).open .window-header {
  border-bottom: 2px solid red;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 0; }

h2 {
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  position: relative;
  color: #B11F10; }

[id*="Eq"] {
  letter-spacing: 8px;
  font-weight: 600;
  padding: 0 1vw; }
  [id*="Eq"] i {
    padding: 0 1vw; }
    [id*="Eq"] i ::after {
      content: ",";
      display: block;
      position: relative; }

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1vmax;
  letter-spacing: .25vmax;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #B11F10;
  font-style: italic; }
  h3:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    width: 100%;
    background: #B11F10; }
  h3:hover {
    letter-spacing: initial;
    color: #FF220C;
    font-style: normal; }

li {
  color: #B11F10;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 1vmax;
  letter-spacing: -0.5px; }
  li:hover {
    color: #FF220C; }

button {
  color: red;
  font-size: .66vmax;
  padding: .1rem .5rem;
  text-transform: uppercase;
  background: transparent;
  border-color: #ED143D;
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 0.25vw; }

[id*="big"] .btn-cluster {
  max-width: 27vw;
  white-space: initial;
  float: right;
  display: inline-block; }

button:before, button:after {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: crimson;
  z-index: -1;
  transform: translate3D(-100%, 0, 0);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

button:before {
  background: #FFFFFF;
  z-index: -2;
  transform: translate3D(0, 0, 0); }

button:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-name: btn-fill;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

/***************
  Reset
****************/
* {
  box-sizing: border-box; }

/***************
  Amnimations
****************/
@keyframes btn-fill {
  from {
    transform: skew(15deg, 15deg); }
  to {
    transform: skew(0deg, 0deg); } }

/***************
  General Styles
****************/
body {
  color: #B11F10;
  background-color: #EEFAFF;
  font-family: Helvetica, sans-serif;
  padding: 0 15vmax; }

#uniops-logo {
  width: 15vmax;
  display: block;
  margin: 10vh auto; }

h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 2rem;
  left: 0;
  height: 0;
  width: 25%;
  border-bottom: 2px dotted red; }

h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 2rem;
  left: 2.5%;
  height: 0;
  width: 15%;
  border-bottom: 2px solid #B11F10; }

span, li {
  white-space: nowrap;
  font-weight: 300; }

ol {
  padding: 0 0 20vh; }

button:hover {
  color: white; }

[id*="big"] .wrapper {
  max-width: 64vw;
  overflow: hidden; }

[id*="big"] [id*="window"]:not(#big-canvas-window) {
  padding: 0; }
  [id*="big"] [id*="window"]:not(#big-canvas-window)#big-array-window {
    list-style: none; }
    [id*="big"] [id*="window"]:not(#big-canvas-window)#big-array-window li:first-child {
      text-transform: uppercase;
      font-weight: 600;
      font-size: .8vmax;
      letter-spacing: .075vmax; }

[id*="big"] #big-canvas-window {
  display: none; }
  [id*="big"] #big-canvas-window.open {
    display: block;
    padding: 0;
    display: block;
    margin: 5vh auto;
    border: 1px solid #d3d3d3; }


/*# sourceMappingURL=/app.0eb78c48.css.map */