
/***************
  Colors
****************/
$color-body-background: #EEFAFF;
$color-body-font: #B11F10;
$color-heder-subheader: #740100;
$color-header-border-bottom: #B11F10;
$color-button-foreground: #FFFFFF;
$color-button-background: CRIMSON;



/***************
  Pseudo Classes
****************/

%drawer {
  padding: 1vh 3vw;
  margin: 1vh 0 2vh;
  width: 66vw;
  height: 10vh;
  overflow-y: scroll;
  border-top: 5px solid;
  border-bottom: 5px solid;
}

%header-subheader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vmax;
  letter-spacing: .5;
  color: $color-heder-subheader;
}

%btn {
  color: red;
  font-size: .1rem;
  padding: .1rem .5rem;
  text-transform: uppercase;
  background: transparent;
  border-color: $color-button-background;
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  margin: 0 0.25vw;
}

%btn-meta  {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: crimson;
  z-index: -1;
  transform: translate3D(-100%,0,0);
  transition: all .5s;
}

%btn-before  {
  background: $color-button-foreground;
  z-index: -2;
  transform: translate3D(0,0,0);
}

%btn-after {
  transform: translate3D(0,0,0);
  transition: all .5s;
  animation-name: btn-fill;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}




/***************
  Reset
****************/
* { box-sizing: border-box; }



/***************
  Amnimations
****************/
@keyframes btn-fill {
  from {transform: skew(15deg, 15deg);}
    to {transform: skew(0deg, 0deg);}
}



/***************
  General Styles
****************/

body {
  color: $color-body-font;
  background-color: $color-body-background;
  font-family: Helvetica, sans-serif;
  padding: 0 15vmax;
}

#uniops-logo {
  width: 15vmax;
  display: block;
  margin: 10vh auto;
}

h2{
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    left: 0;
    height: 0;
    width: 25%;
    border-bottom: 2px dotted red;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    left: 2.5%;
    height: 0;
    width: 15%;
    border-bottom: 2px solid $color-header-border-bottom;
  }
}

h3 { @extend %header-subheader; }

span, li {
  white-space: nowrap;
  font-weight: 300;
}

li {
  font-size: .8rem;
}

ol {
  padding: 0 0 20vh;
}

button {
  @extend %btn;
  &:hover { color: white; }
  &:hover:after { @extend %btn-after; }
  &:before, &:after { @extend %btn-meta; }
  &:before { @extend %btn-before; }
}


#bigObject {
  .wrapper {
    max-width: 64vw;
    overflow: hidden;
  }
  #bigObject-window {
    padding: 0;
    &.open {
      @extend %drawer;
    }
  }
}
